
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');




body {
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto Slab', serif;
}

main {
        padding: 16px;
}

footer {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: lightgreen;
        position: fixed;
}

img {
        height: 200px;
}

footer {
        position: relative;
        top: 80px;
}

a:hover {
        color: blue;
        box-shadow: 10px 5px 5px black;
        transition: box-shadow .5s;
}

.add-columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

}

nav {
        color: white;
        background-color: orange;
        border-bottom: 1px solid black;
        padding: 16px;

}

#white-text {
        color: white;
        text-decoration: none;

}

#green-text {
        color: darkgreen;
        text-decoration: none;
        box-shadow: 10px 5px 5px black;
}

a {
        color: darkgreen;
        text-decoration: none;
}

tr:nth-child(even) {
    background-color: lightgrey;
}
